.navbarContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(246, 246, 246);
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

  & .logoContainer{
    display: flex;
    align-items: center;
    cursor: pointer;

    & img {
      width: 50px;
    }
  }

  & .profileContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;  
    border-radius: 50%;
    overflow: hidden;

    & img {
      width: 99%;

    }
  }

}
